body {
	color:white;
	font-size:12pt;
}
h1 {
	color:red;
	opacity:0.2;
	font-size:30pt;
	margin-top:-20px;
	margin-bottom:0px;
	text-align:right;
	padding:2px 10px;
	border-size:2px;
}
p {
	margin:10px;
}
a {
	color:blue;
	text-decoration: none;
}
table {
	margin:10px;
	font-size:10pt;
}
table tr th {
	background-color:#009;
	color:white;
	padding:2px 10px;
	border-size:2px;
}
table tr td {
	background-color:#eee;
	color:#666;
	padding:2px 10px;
	border-size:2px;
}
