{% extends './base.html' %}
{% load static %}

{% block headertitle %}
バッチ実行状況詳細ページ
{% endblock %}

{% block content %}
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">バッチ実行状況詳細ページ</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/yaget/top/">Home</a></li>
              <li class="breadcrumb-item active">バッチ実行状況ページ です</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="card-header">
        <h3 class="card-title">バッチ実行状況詳細ページです</h3>
      </div>
        <p>{{message|safe}}</p>
      <div class="card-footer">
        <div class="container-fluid" style="margin-top: 60px;">
          <div class="row">
            <div class="col-md-6 offset-md-3" >

              <h4 class="alert-heading">{{ title }}</h4>
              <table class="table table-sm table-striped small">
                <tbody>
                    <tr>
                      <th class="text-secondary bg-warning">バッチ処理番号</th>
                      <td>{{ object.batch_id }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">バッチ名</th>
                      <td>{{ object.batch_name }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">バッチ実行状況</th>
                        {% if object.batch_status == 0 %}
                          <td>実行中</td>
                        {% elif object.batch_status == 1 %}
                          <td>正常終了</td>
                        {% elif object.batch_status == 2 %}
                          <td>異常終了</td>
                        {% else %}
                          <td>不明？</td>
                        {% endif %}
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">メッセージ</th>
                      <td>{{ object.message }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">開始時刻</th>
                      <td>{{ object.start_date }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">終了時刻</th>
                      <td>{{ object.end_date }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">中止時刻</th>
                      <td>{{ object.stop_date }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">作成時刻</th>
                      <td>{{ object.create_date }}</td>
                    </tr>
                    <tr>
                      <th class="text-secondary bg-warning">更新時刻</th>
                      <td>{{ object.update_date }}</td>
                    </tr>
                </tbody>
              </table>
                <hr>
              <div><a class="btn btn-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a></div>
              <div><a class="btn btn-primary" href="{% url 'yaget:batch_status_list' %}">バッチ実行状況一覧ページへ</a></div>

            </div><!-- end col-md-6 offset-md-3 -->
          </div><!-- end row -->
        </div><!-- end container-fluid -->
      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
