{% extends './base.html' %}
{% load static %}

{% block headertitle %}
商品詳細_一括削除_実行完了画面
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">商品詳細_一括削除_実行完了画面</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/yaget/top/">Home</a></li>
              <li class="breadcrumb-item active">商品詳細_一括削除_実行完了画面</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <section class="content">
      <div class="card-header">
        <h3 class="card-title">商品詳細一括削除実行しました</h3>
      </div>
        {% if message %}
        <p>{{message|safe}}</p>
        {% endif %}
      <div class="card-footer">

          <p>商品詳細一括削除実行しました</p>


        <div class="content">
              <div><a class="btn btn-primary" href="javascript:void(0);" onclick="window.history.back();">戻る</a></div>
              <div><a class="btn btn-primary" href="{% url 'yaget:buyers_goods_detail_list' %}">商品一覧ページへ</a></div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
