{% extends './base.html' %}
{% load static %}
{% block content %}  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Buyers商品一覧表示</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/yaget/top/">Home</a></li>
              <li class="breadcrumb-item active">Buyers商品一覧表示 です</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <h1>{{title}}</h1>
        <p>{{message|safe}}</p>
        <table>
            <!--<form action="{% url 'yaget:upd_byers_ct_list' %}" method="post" enctype="multipart/form-data">
            -->
            <form action="{% url 'yaget:upd_byers_ct_list' %}" method="post">
            {% csrf_token %}
            {{form}}
            <tr><th></th><td><input type="submit" value="アップロード"></td></tr>
            </form>
            <!--
            <tr><th></th><td><a href="{% url 'yaget:upd_byers_ct_list' %}">更新開始</a></td></tr>
            -->
        </table>
        <hr>
    </section>
    <!-- /.content -->
  </div>
{% endblock content %}
